flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
langchain==0.2.10
langchain-community==0.2.10
langchain-openai==0.1.7
langchain-pinecone==0.1.1
pypdf==4.2.0
pinecone-client==3.2.2
pinecone-plugin-interface==0.0.7
# for HF Inference API embeddings
huggingface-hub==0.24.6
