flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1

# LangChain ecosystem (compatible with Python 3.11 on Koyeb)
langchain==0.2.6
langchain-openai==0.1.7
langchain-pinecone==0.0.3
langchain-community==0.2.6

# Embeddings + PDF
sentence-transformers==2.2.2
pypdf==4.2.0

pinecone-client==3.2.2
pinecone-plugin-interface==0.0.7
